@import "tailwindcss";

:root {
  --background: #F5F5F0;
  --foreground: #C8C8C8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F0;
    --foreground: #ededed;
  }

  p {
    color: #1E1E1E;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 12%;
  margin-top: 4%;
  margin-bottom: 4%;
}
